<!DOCTYPE html>
<html>
<head>
    <title>Shop cart - backbone test</title>
    <link rel="stylesheet" href="css/main.css">

    <!-- modules -->
    <script src="js/jquery-2.0.3.js"></script>
    <script src="js/underscore-1.5.0.js"></script>
    <script src="js/backbone-1.0.0.js"></script>
    <script src="js/backbone.localStorage.1.1.0.js"></script>

    <!-- components -->
    <script src="js/components/bundle.js"></script>
    <script src="js/components/cart-container.js"></script>
    <script src="js/components/cart.js"></script>

    <!-- application -->
    <script src="js/app.js"></script>
    <script>
        var app = new App().initialize();
        jQuery(document).ready(function() {
            app.start();
        });
    </script>

    <!-- templates -->
    <script type="text/template" id="cart-template">
        <div class="cart-wrap">
            <h2>Cart</h2>
            <div class="bundleList"></div>
        </div>
    </script>
    <script type="text/template" id="bundle-template">
        <div class="bundle-wrap">
            id: <%= id %><br>
            title: <%= title %><br>
            desc: <%= desc %><br>
            amount: <%= amount %>
            <span class="remove">remove</span>
        </div>
    </script>

</head>
<body></body>
</html>